body {
background-color: steelblue;
}

#eagle {
color: white;
	padding: 10px;
	margin: 30px;
	background-color: black;
	border: 10px dashed white;
	text-align: center;
	font-size: 50px;
}

#name {
	text-align: center;
}


#des {
	text-align: left;
	display: inline-block;
	width: 60%;
}

h3 {
	font-weight: normal ;
}

#png {
	display: inline-block;
	image
}

